<h1>FileUpload#show</h1>
<p>Find me in app/views/file_uploads/show.html.erb</p>

<h1><%= @fileUpload.title %></h1>

<div><%= @fileUpload.body %></div>

<%= link_to "Edit file", edit_fileUpload_path(@fileUpload) %>

<%= link_to "Delete", file_upload_path(@fileUpload), method: :delete, data: { confirm: "Are you sure you wish to delete this post?"} %>