@charset "UTF-8";
/* line 4, /home/kits/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/neat-1.7.2/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, /home/kits/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/neat-1.7.2/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* 
   Some simple Github-like styles, with syntax highlighting CSS via Pygments.
*/
/* line 9, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
body {
  font-family: helvetica, arial, freesans, clean, sans-serif;
  color: #333;
  background-color: #000000;
  border: none;
  line-height: 1.5;
  margin: 2em 3em;
  text-align: left;
}

/* line 18, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
pre {
  background-color: #000000;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: auto;
}

/* line 26, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
code {
  background-color: #000000;
  padding: 1px 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 33, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
li p {
  margin: 0.3em;
}

/* line 36, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
li {
  list-style-type: disc;
}

/* line 39, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
a:link, a:visited {
  color: #ffb02d;
  text-decoration: none;
}

/* line 43, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
a:hover {
  color: #2d7eff;
  text-decoration: none;
}

/* line 47, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
h1 {
  color: #ffb02d;
  font-weight: bold;
}

/* line 51, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
h2 {
  border-bottom: 1px dotted #aaa;
  margin-bottom: 1em;
  color: #ffb02d;
}

/* line 56, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
h3 {
  color: #ffb02d;
}

/* line 61, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.hll {
  background-color: #ffffcc;
}

/* line 62, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.c {
  color: #888888;
}

/* Comment */
/* line 63, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */
/* line 64, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.k {
  color: #008800;
  font-weight: bold;
}

/* Keyword */
/* line 65, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.cm {
  color: #888888;
}

/* Comment.Multiline */
/* line 66, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.cp {
  color: #cc0000;
  font-weight: bold;
}

/* Comment.Preproc */
/* line 67, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.c1 {
  color: #888888;
}

/* Comment.Single */
/* line 68, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.cs {
  color: #cc0000;
  font-weight: bold;
  background-color: #fff0f0;
}

/* Comment.Special */
/* line 69, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 70, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 71, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 72, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.gh {
  color: #303030;
}

/* Generic.Heading */
/* line 73, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 74, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.go {
  color: #888888;
}

/* Generic.Output */
/* line 75, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.gp {
  color: #555555;
}

/* Generic.Prompt */
/* line 76, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 77, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.gu {
  color: #606060;
}

/* Generic.Subheading */
/* line 78, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* line 79, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.kc {
  color: #008800;
  font-weight: bold;
}

/* Keyword.Constant */
/* line 80, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.kd {
  color: #008800;
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 81, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.kn {
  color: #008800;
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 82, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.kp {
  color: #008800;
}

/* Keyword.Pseudo */
/* line 83, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.kr {
  color: #008800;
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 84, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.kt {
  color: #888888;
  font-weight: bold;
}

/* Keyword.Type */
/* line 85, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.m {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number */
/* line 86, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.s {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String */
/* line 87, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.na {
  color: #336699;
}

/* Name.Attribute */
/* line 88, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.nb {
  color: #003388;
}

/* Name.Builtin */
/* line 89, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.nc {
  color: #bb0066;
  font-weight: bold;
}

/* Name.Class */
/* line 90, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.no {
  color: #003366;
  font-weight: bold;
}

/* Name.Constant */
/* line 91, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.nd {
  color: #555555;
}

/* Name.Decorator */
/* line 92, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.ne {
  color: #bb0066;
  font-weight: bold;
}

/* Name.Exception */
/* line 93, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.nf {
  color: #0066bb;
  font-weight: bold;
}

/* Name.Function */
/* line 94, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.nl {
  color: #336699;
  font-style: italic;
}

/* Name.Label */
/* line 95, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.nn {
  color: #bb0066;
  font-weight: bold;
}

/* Name.Namespace */
/* line 96, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.py {
  color: #336699;
  font-weight: bold;
}

/* Name.Property */
/* line 97, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.nt {
  color: #bb0066;
  font-weight: bold;
}

/* Name.Tag */
/* line 98, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.nv {
  color: #336699;
}

/* Name.Variable */
/* line 99, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.ow {
  color: #008800;
}

/* Operator.Word */
/* line 100, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 101, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.mf {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Float */
/* line 102, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.mh {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Hex */
/* line 103, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.mi {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Integer */
/* line 104, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.mo {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Oct */
/* line 105, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.sb {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Backtick */
/* line 106, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.sc {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Char */
/* line 107, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.sd {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Doc */
/* line 108, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.s2 {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Double */
/* line 109, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.se {
  color: #0044dd;
  background-color: #fff0f0;
}

/* Literal.String.Escape */
/* line 110, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.sh {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Heredoc */
/* line 111, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.si {
  color: #3333bb;
  background-color: #fff0f0;
}

/* Literal.String.Interpol */
/* line 112, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.sx {
  color: #22bb22;
  background-color: #f0fff0;
}

/* Literal.String.Other */
/* line 113, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.sr {
  color: #008800;
  background-color: #fff0ff;
}

/* Literal.String.Regex */
/* line 114, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.s1 {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Single */
/* line 115, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.ss {
  color: #aa6600;
  background-color: #fff0f0;
}

/* Literal.String.Symbol */
/* line 116, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.bp {
  color: #003388;
}

/* Name.Builtin.Pseudo */
/* line 117, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.vc {
  color: #336699;
}

/* Name.Variable.Class */
/* line 118, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.vg {
  color: #dd7700;
}

/* Name.Variable.Global */
/* line 119, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.vi {
  color: #3333bb;
}

/* Name.Variable.Instance */
/* line 120, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/pygments.css.scss */
.il {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Integer.Long */
/* line 15, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/posts.scss.erb */
.accordion {
  background-color: #000000;
  background-clip: padding-box;
  border: 0 solid gainsboro;
  margin: 0 0 5em 0;
  padding: 0;
}
/* line 37, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/posts.scss.erb */
.accordion ul {
  padding: 0;
}
/* line 42, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/posts.scss.erb */
.accordion li {
  border-bottom: 0 solid gainsboro;
  list-style: none;
}
/* line 47, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/posts.scss.erb */
.accordion li > a {
  color: #ffb02d;
  display: block;
  padding: 2.5em 1.618em;
  text-decoration: none;
}
/* line 54, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/posts.scss.erb */
.accordion li:last-child {
  border: none;
}
/* line 58, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/posts.scss.erb */
.accordion li:focus, .accordion li:hover {
  background-color: #2d7eff;
}
/* line 65, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/posts.scss.erb */
.accordion ul.submenu {
  display: none;
}
/* line 68, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/posts.scss.erb */
.accordion ul.submenu li {
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 77, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/posts.scss.erb */
.accordion ul.submenu li:focus, .accordion ul.submenu li:hover {
  background-color: rgba(45, 126, 255, 0.6);
}
/* line 85, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/posts.scss.erb */
.accordion .is-expanded {
  display: block;
  padding-bottom: 0;
}

/* line 13, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/projects.scss.erb */
.flex-boxes {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  clear: both;
  text-align: center;
}
/* line 41, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/projects.scss.erb */
.flex-boxes .flex-box {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2 2 15em;
  -moz-flex: 2 2 15em;
  -ms-flex: 2 2 15em;
  flex: 2 2 15em;
  -webkit-align-self: stretch;
  -moz-align-self: stretch;
  align-self: stretch;
  -ms-flex-item-align: stretch;
  background: #000000;
  border-radius: 0;
  box-shadow: none;
  display: block;
  margin: 1em;
  padding: 2em 2em 3em 2em;
  text-decoration: none;
  text-align: justify;
}
/* line 56, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/projects.scss.erb */
.flex-boxes .flex-box:nth-child(1) {
  border-top: 6px solid #ffb02d;
}
/* line 56, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/projects.scss.erb */
.flex-boxes .flex-box:nth-child(2) {
  border-top: 6px solid #2d7eff;
}
/* line 56, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/projects.scss.erb */
.flex-boxes .flex-box:nth-child(3) {
  border-top: 6px solid #ffb02d;
}
/* line 56, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/projects.scss.erb */
.flex-boxes .flex-box:nth-child(4) {
  border-top: 6px solid #2d7eff;
}
/* line 56, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/projects.scss.erb */
.flex-boxes .flex-box:nth-child(5) {
  border-top: 6px solid #ffb02d;
}
/* line 56, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/projects.scss.erb */
.flex-boxes .flex-box:nth-child(6) {
  border-top: 6px solid #2d7eff;
}
/* line 67, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/projects.scss.erb */
.flex-boxes .flex-box img {
  display: block;
  height: 7em;
  margin: 0 auto 1em;
  opacity: 0.4;
}
/* line 74, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/projects.scss.erb */
.flex-boxes .flex-box .flex-title {
  color: #ffb02d;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  text-decoration: none;
}
/* line 81, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/projects.scss.erb */
.flex-boxes .flex-box p {
  color: #ffb02d;
  line-height: 1.5em;
  margin: auto;
}
/* line 88, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/projects.scss.erb */
.flex-boxes .flex-box-big {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 100%;
  -moz-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

/* line 17, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
body {
  margin: 0;
  padding: 0 4em 0 4em;
}

/* line 22, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.btn-warning {
  background: #2d7eff;
  color: #FFFFFF;
  border: none;
  text-decoration: none;
  border-radius: 0;
  display: inline-block;
  margin: 0 1em 1em 1em;
}
/* line 31, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.btn-warning :hover {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 40, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.on-top {
  position: absolute;
  top: 30vh;
  left: 8vw;
  font-size: 3vw;
  color: #ffb02d;
}

/* line 51, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
img {
  float: right;
}

/* line 55, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.image-1 {
  border: 5px;
  border-color: #ffb02d;
  height: 70vh;
  width: 60vh;
  top: 15vh;
}

/* line 67, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
#content {
  width: 100%;
  top: 50px;
  background-image: url(/assets/background2-e64654d101d6a920d1bf113ae574d5a344a8c6d233c7fd45d165a06df976c7d8.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* line 78, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.wrapper-text-fields {
  color: #ffb02d;
  width: 75%;
  border-width: 2px;
  border-color: #ffb02d;
  padding: 10px 10px 10px 10px;
}

/* line 86, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.wrapper-text-area {
  color: #ffb02d;
  width: 75%;
  height: 300px;
  border-width: 2px;
  border-color: #ffb02d;
  padding: 10px 10px 10px 10px;
}

/* line 101, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation {
  background-color: #000000;
  border-bottom: 0;
  min-height: 50px;
  width: 100%;
  z-index: 999;
}
/* line 128, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation .navigation-wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 9999;
}
/* line 20, /home/kits/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/bourbon-4.2.6/app/assets/stylesheets/addons/_clearfix.scss */
header.navigation .navigation-wrapper::after {
  clear: both;
  content: "";
  display: table;
}
/* line 20, /home/kits/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/bourbon-4.2.6/app/assets/stylesheets/addons/_clearfix.scss */
header.navigation .navigation-wrapper::after {
  clear: both;
  content: "";
  display: table;
}
/* line 135, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation .logo {
  float: left;
  max-height: 50px;
  padding-left: 1em;
  padding-right: 2em;
}
/* line 141, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation .logo img {
  max-height: 50px;
  padding: 0.8em 0;
}
/* line 149, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation .navigation-menu-button {
  color: #ffb02d;
  display: block;
  float: right;
  line-height: 50px;
  margin: 0;
  padding-right: 1em;
  padding-left: 1em;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (min-width: 53.75em) {
  /* line 149, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
  header.navigation .navigation-menu-button {
    display: none;
  }
}
/* line 164, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
  background: #2d7eff;
}
/* line 172, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation nav {
  float: none;
  min-height: 50px;
  z-index: 9999999;
}
@media screen and (min-width: 53.75em) {
  /* line 172, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
  header.navigation nav {
    float: right;
  }
}
/* line 182, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation ul.navigation-menu {
  clear: both;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 9999;
}
/* line 191, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation ul.navigation-menu.show {
  display: block;
}
@media screen and (min-width: 53.75em) {
  /* line 182, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
  header.navigation ul.navigation-menu {
    display: inline;
    margin: 0;
    padding: 0 1em 0 1em;
  }
}
/* line 204, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation ul li.nav-link {
  background: #000000;
  display: block;
  line-height: 50px;
  overflow: hidden;
  text-align: right;
  width: 100%;
  z-index: 9999;
}
@media screen and (min-width: 53.75em) {
  /* line 204, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
  header.navigation ul li.nav-link {
    background: transparent;
    display: inline;
    line-height: 50px;
    text-decoration: none;
    width: auto;
  }
}
/* line 222, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation ul li.nav-link a {
  color: #ffb02d;
  display: inline-block;
  text-decoration: none;
}
@media screen and (min-width: 53.75em) {
  /* line 222, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
  header.navigation ul li.nav-link a {
    padding-right: 1em;
    padding-left: 1em;
  }
}
/* line 232, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
  background: #2d7eff;
}
/* line 239, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation .active-nav-item a {
  border-bottom: 1px solid #000000;
  padding-bottom: 3px;
}
/* line 246, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation li.more.nav-link {
  padding-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 246, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
  header.navigation li.more.nav-link {
    padding-right: 1em;
  }
}
/* line 253, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation li.more.nav-link > ul > li:first-child a {
  padding-top: 1em;
}
/* line 257, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation li.more.nav-link a {
  margin-right: 1em;
}
/* line 261, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation li.more.nav-link > a {
  padding-right: 0.6em;
}
/* line 265, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation li.more.nav-link > a:after {
  position: absolute;
  top: auto;
  right: -0.4em;
  bottom: auto;
  left: auto;
  content: '\25BE';
  color: #ffb02d;
}
/* line 272, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation li.more {
  overflow: visible;
  padding-right: 0;
}
/* line 276, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation li.more a {
  padding-right: 0.8em;
}
/* line 280, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation li.more > a {
  padding-right: 1.6em;
  position: relative;
}
@media screen and (min-width: 53.75em) {
  /* line 280, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
  header.navigation li.more > a {
    margin-right: 1em;
  }
}
/* line 288, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation li.more > a:after {
  content: '›';
  font-size: 1.2em;
  position: absolute;
  right: 0.5em;
}
/* line 296, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation li.more:focus > .submenu, header.navigation li.more:hover > .submenu {
  display: block;
}
@media screen and (min-width: 53.75em) {
  /* line 272, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
  header.navigation li.more {
    padding-right: 0.8em;
    position: relative;
  }
}
/* line 307, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation ul.submenu {
  display: none;
  padding-left: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 307, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
  header.navigation ul.submenu {
    left: -1em;
    position: absolute;
    top: 1.5em;
  }
}
@media screen and (min-width: 53.75em) {
  /* line 317, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
  header.navigation ul.submenu .submenu {
    left: 11.8em;
    top: 0;
  }
}
/* line 324, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation ul.submenu li {
  display: block;
  padding-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 324, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
  header.navigation ul.submenu li {
    line-height: 38.46154px;
  }
  /* line 331, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
  header.navigation ul.submenu li:first-child > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  /* line 336, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
  header.navigation ul.submenu li:last-child > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: 0.7em;
  }
}
/* line 343, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation ul.submenu li a {
  background-color: black;
  display: inline-block;
  text-align: right;
  width: 100%;
}
@media screen and (min-width: 53.75em) {
  /* line 343, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
  header.navigation ul.submenu li a {
    background-color: #000000;
    padding-left: 1em;
    text-align: left;
    width: 12em;
  }
}
/* line 361, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
header.navigation .navigation-tools {
  background: #505050;
  clear: both;
  display: block;
  height: 50px;
}
@media screen and (min-width: 53.75em) {
  /* line 361, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
  header.navigation .navigation-tools {
    background: transparent;
    clear: none;
    float: right;
  }
}

/* line 403, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.footer-2 {
  background: #2d7eff;
  padding: 1.5em;
  width: 100%;
  display: inline-block;
}
/* line 418, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.footer-2 .footer-logo {
  margin-right: 1em;
  margin-bottom: 1em;
}
@media screen and (min-width: 53.75em) {
  /* line 418, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
  .footer-2 .footer-logo {
    float: left;
    margin-bottom: 0;
  }
}
/* line 428, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.footer-2 .footer-logo img {
  height: 1.6em;
}
/* line 432, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.footer-2 ul {
  line-height: 1.5em;
  margin: 0 0 1em 0;
  padding: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 432, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
  .footer-2 ul {
    float: left;
    line-height: 1.8em;
    margin-left: 1em;
    margin-bottom: 0;
  }
}
/* line 445, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.footer-2 ul li {
  list-style: none;
  padding-right: 1em;
}
@media screen and (min-width: 53.75em) {
  /* line 445, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
  .footer-2 ul li {
    display: inline;
    text-align: left;
  }
}
/* line 455, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.footer-2 ul li a {
  color: #2d7eff;
  text-decoration: none;
}
/* line 459, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.footer-2 ul li a:focus, .footer-2 ul li a:hover {
  color: #ffb02d;
}
@media screen and (min-width: 53.75em) {
  /* line 465, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
  .footer-2 .footer-secondary-links {
    float: right;
  }
}
/* line 470, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.footer-2 .footer-secondary-links li {
  font-size: 0.8em;
}
/* line 474, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.footer-2 .footer-secondary-links ul.footer-social {
  margin: 1em 0 0 0;
}
@media screen and (min-width: 53.75em) {
  /* line 474, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
  .footer-2 .footer-secondary-links ul.footer-social {
    float: right;
    margin-top: 0;
  }
}
/* line 482, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.footer-2 .footer-secondary-links ul.footer-social li {
  font-size: 1em;
  float: left;
  line-height: 0;
  margin: 0;
  padding-right: 0.7em;
  text-decoration: none;
}
/* line 490, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.footer-2 .footer-secondary-links ul.footer-social li:last-child {
  padding-right: 0;
}
/* line 495, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.footer-2 .footer-secondary-links ul.footer-social img {
  height: 1.6em;
  opacity: 0.7;
  padding: 1px;
}
/* line 500, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.footer-2 .footer-secondary-links ul.footer-social img:focus, .footer-2 .footer-secondary-links ul.footer-social img:hover {
  opacity: 1;
}

/* line 517, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  clear: both;
  text-align: center;
}
/* line 546, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2 2 15em;
  -moz-flex: 2 2 15em;
  -ms-flex: 2 2 15em;
  flex: 2 2 15em;
  -webkit-align-self: stretch;
  -moz-align-self: stretch;
  align-self: stretch;
  -ms-flex-item-align: stretch;
  background: #000000;
  border-radius: 0;
  box-shadow: none;
  display: block;
  margin: 1em;
  padding: 2em 2em 3em 2em;
  text-decoration: none;
  text-align: justify;
}
/* line 561, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box:nth-child(1) {
  border-top: 6px solid #ffb02d;
}
/* line 561, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box:nth-child(2) {
  border-top: 6px solid #2d7eff;
}
/* line 561, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box:nth-child(3) {
  border-top: 6px solid #ffb02d;
}
/* line 561, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box:nth-child(4) {
  border-top: 6px solid #2d7eff;
}
/* line 561, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box:nth-child(5) {
  border-top: 6px solid #ffb02d;
}
/* line 561, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box:nth-child(6) {
  border-top: 6px solid #2d7eff;
}
/* line 572, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box img {
  display: block;
  height: 7em;
  margin: 0 auto 1em;
  opacity: 0.4;
}
/* line 579, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box .flex-title {
  color: #ffb02d;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  text-decoration: none;
}
/* line 586, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box p {
  color: #ffb02d;
  line-height: 1.5em;
  margin: auto;
}
/* line 593, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box-big {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 100%;
  -moz-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

/* line 606, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  clear: both;
  text-align: center;
}
/* line 635, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-2 {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2 2 15em;
  -moz-flex: 2 2 15em;
  -ms-flex: 2 2 15em;
  flex: 2 2 15em;
  -webkit-align-self: stretch;
  -moz-align-self: stretch;
  align-self: stretch;
  -ms-flex-item-align: stretch;
  background: #000000;
  border-radius: 0;
  box-shadow: none;
  display: block;
  margin: 0 0 1em 0;
  padding: 2em 2em 3em 2em;
  text-decoration: none;
  text-align: justify;
}
/* line 654, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-2:nth-child(1):focus, .flex-boxes-2 .flex-box-2:nth-child(1):hover {
  background-color: #0060f9;
}
/* line 654, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-2:nth-child(2):focus, .flex-boxes-2 .flex-box-2:nth-child(2):hover {
  background-color: #0060f9;
}
/* line 654, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-2:nth-child(3):focus, .flex-boxes-2 .flex-box-2:nth-child(3):hover {
  background-color: #0060f9;
}
/* line 654, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-2:nth-child(4):focus, .flex-boxes-2 .flex-box-2:nth-child(4):hover {
  background-color: #0060f9;
}
/* line 654, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-2:nth-child(5):focus, .flex-boxes-2 .flex-box-2:nth-child(5):hover {
  background-color: #0060f9;
}
/* line 654, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-2:nth-child(6):focus, .flex-boxes-2 .flex-box-2:nth-child(6):hover {
  background-color: #0060f9;
}
/* line 661, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-2 img {
  display: block;
  height: 7em;
  margin: 0 auto 1em;
  opacity: 0.4;
}
/* line 668, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-2 .flex-title {
  color: #ffb02d;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  text-decoration: none;
}
/* line 675, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-2 p {
  color: #ffb02d;
  line-height: 1.5em;
  margin: auto;
}
/* line 682, /home/kits/Desktop/brianNonRoot/rails/nonLinearLogic/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-big {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 100%;
  -moz-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}
