@charset "UTF-8";
/* line 4, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* 
   Some simple Github-like styles, with syntax highlighting CSS via Pygments.
*/
/* line 9, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
body {
  font-family: helvetica, arial, freesans, clean, sans-serif;
  color: #333;
  background-color: #000000;
  border: none;
  line-height: 1.5;
  margin: 2em 3em;
  text-align: left;
}

/* line 18, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
pre {
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
}

/* line 26, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
code {
  color: #2d7eff;
  background-color: black;
  padding: 1px 3px;
  border-radius: 2px;
}

/* line 34, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
li p {
  margin: 0.3em;
}

/* line 37, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
li {
  list-style-type: disc;
}

/* line 40, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
a:link, a:visited {
  color: #ffb02d;
  text-decoration: none;
}

/* line 44, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
a:hover {
  color: #2d7eff;
  text-decoration: none;
}

/* line 48, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
h1 {
  color: #ffb02d;
  font-weight: bold;
}

/* line 52, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
h2 {
  border-bottom: 1px dotted #aaa;
  margin-bottom: 1em;
  color: #ffb02d;
}

/* line 57, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
h3 {
  color: #ffb02d;
}

/* line 62, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.hll {
  background-color: #ffffcc;
}

/* line 63, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.c {
  color: #888888;
}

/* Comment */
/* line 64, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */
/* line 65, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.k {
  color: #008800;
  font-weight: bold;
}

/* Keyword */
/* line 66, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.cm {
  color: #888888;
}

/* Comment.Multiline */
/* line 67, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.cp {
  color: #cc0000;
  font-weight: bold;
}

/* Comment.Preproc */
/* line 68, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.c1 {
  color: #888888;
}

/* Comment.Single */
/* line 69, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.cs {
  color: #cc0000;
  font-weight: bold;
  background-color: #fff0f0;
}

/* Comment.Special */
/* line 70, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 71, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 72, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 73, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.gh {
  color: #303030;
}

/* Generic.Heading */
/* line 74, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 75, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.go {
  color: #888888;
}

/* Generic.Output */
/* line 76, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.gp {
  color: #555555;
}

/* Generic.Prompt */
/* line 77, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 78, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.gu {
  color: #606060;
}

/* Generic.Subheading */
/* line 79, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* line 80, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.kc {
  color: #008800;
  font-weight: bold;
}

/* Keyword.Constant */
/* line 81, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.kd {
  color: #008800;
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 82, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.kn {
  color: #008800;
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 83, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.kp {
  color: #008800;
}

/* Keyword.Pseudo */
/* line 84, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.kr {
  color: #008800;
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 85, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.kt {
  color: #888888;
  font-weight: bold;
}

/* Keyword.Type */
/* line 86, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.m {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number */
/* line 87, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.s {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String */
/* line 88, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.na {
  color: #336699;
}

/* Name.Attribute */
/* line 89, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.nb {
  color: #003388;
}

/* Name.Builtin */
/* line 90, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.nc {
  color: #bb0066;
  font-weight: bold;
}

/* Name.Class */
/* line 91, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.no {
  color: #003366;
  font-weight: bold;
}

/* Name.Constant */
/* line 92, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.nd {
  color: #555555;
}

/* Name.Decorator */
/* line 93, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.ne {
  color: #bb0066;
  font-weight: bold;
}

/* Name.Exception */
/* line 94, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.nf {
  color: #0066bb;
  font-weight: bold;
}

/* Name.Function */
/* line 95, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.nl {
  color: #336699;
  font-style: italic;
}

/* Name.Label */
/* line 96, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.nn {
  color: #bb0066;
  font-weight: bold;
}

/* Name.Namespace */
/* line 97, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.py {
  color: #336699;
  font-weight: bold;
}

/* Name.Property */
/* line 98, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.nt {
  color: #bb0066;
  font-weight: bold;
}

/* Name.Tag */
/* line 99, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.nv {
  color: #336699;
}

/* Name.Variable */
/* line 100, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.ow {
  color: #008800;
}

/* Operator.Word */
/* line 101, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 102, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.mf {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Float */
/* line 103, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.mh {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Hex */
/* line 104, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.mi {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Integer */
/* line 105, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.mo {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Oct */
/* line 106, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.sb {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Backtick */
/* line 107, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.sc {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Char */
/* line 108, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.sd {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Doc */
/* line 109, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.s2 {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Double */
/* line 110, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.se {
  color: #0044dd;
  background-color: #fff0f0;
}

/* Literal.String.Escape */
/* line 111, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.sh {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Heredoc */
/* line 112, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.si {
  color: #3333bb;
  background-color: #fff0f0;
}

/* Literal.String.Interpol */
/* line 113, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.sx {
  color: #22bb22;
  background-color: #f0fff0;
}

/* Literal.String.Other */
/* line 114, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.sr {
  color: #008800;
  background-color: #fff0ff;
}

/* Literal.String.Regex */
/* line 115, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.s1 {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Single */
/* line 116, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.ss {
  color: #aa6600;
  background-color: #fff0f0;
}

/* Literal.String.Symbol */
/* line 117, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.bp {
  color: #003388;
}

/* Name.Builtin.Pseudo */
/* line 118, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.vc {
  color: #336699;
}

/* Name.Variable.Class */
/* line 119, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.vg {
  color: #dd7700;
}

/* Name.Variable.Global */
/* line 120, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.vi {
  color: #3333bb;
}

/* Name.Variable.Instance */
/* line 121, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/pygments.scss */
.il {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Integer.Long */
/* line 15, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/fileuploads.scss */
.sliding-panel-content {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 15%;
  background: rgba(13, 13, 13, 0.5);
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  z-index: 999999;
}
/* line 34, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/fileuploads.scss */
.sliding-panel-content ul {
  padding: 0;
  margin: 0;
}
/* line 39, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/fileuploads.scss */
.sliding-panel-content li {
  list-style: none;
}
/* line 43, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/fileuploads.scss */
.sliding-panel-content li a {
  border-bottom: 1px solid #000000;
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 1em;
  text-decoration: none;
}
/* line 51, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/fileuploads.scss */
.sliding-panel-content li a:focus {
  background-color: #1a1a1a;
}
/* line 55, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/fileuploads.scss */
.sliding-panel-content li a:hover {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #2d7eff;
  color: #fff;
}

/* line 65, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/fileuploads.scss */
.accordion {
  background-color: #1a1a1a;
  border: 2px solid #ffb02d;
  margin: 0 0 1.5em 0;
  padding: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
/* line 90, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/fileuploads.scss */
.accordion ul {
  margin: 0;
  padding: 0;
}
/* line 95, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/fileuploads.scss */
.accordion li {
  border-bottom: 2px solid #ffb02d;
  list-style: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 100, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/fileuploads.scss */
.accordion li > a {
  color: #ffb02d;
  display: block;
  padding: 0.75em 1.618em;
  text-decoration: none;
}
/* line 107, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/fileuploads.scss */
.accordion li:last-child {
  border: none;
}
/* line 111, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/fileuploads.scss */
.accordion li:focus, .accordion li:hover {
  background-color: #3784ff;
}

/* line 15, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/posts.scss */
.accordion {
  background-color: #1a1a1a;
  border: 2px solid #ffb02d;
  margin: 0 0 1.5em 0;
  padding: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
/* line 39, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/posts.scss */
.accordion ul {
  margin: 0;
  padding: 0;
}
/* line 44, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/posts.scss */
.accordion li {
  border-bottom: 2px solid #ffb02d;
  list-style: none;
}
/* line 48, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/posts.scss */
.accordion li > a {
  color: #ffb02d;
  display: block;
  padding: 0.75em 1.618em;
  text-decoration: none;
}
/* line 55, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/posts.scss */
.accordion li:last-child {
  border: none;
}
/* line 59, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/posts.scss */
.accordion li:focus, .accordion li:hover {
  background-color: #3784ff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 66, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/posts.scss */
.accordion ul.submenu {
  display: none;
}
/* line 69, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/posts.scss */
.accordion ul.submenu li {
  background-color: #0d0d0d;
}
/* line 72, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/posts.scss */
.accordion ul.submenu li:first-child {
  border-top: 2px solid #ffb02d;
  box-shadow: inset 0 1px 1px black;
}
/* line 77, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/posts.scss */
.accordion ul.submenu li:focus, .accordion ul.submenu li:hover {
  background-color: #3784ff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 85, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/posts.scss */
.accordion .is-expanded {
  display: block;
  padding-bottom: 0;
}

/* line 95, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/posts.scss */
.sliding-panel-content {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 15%;
  background: rgba(13, 13, 13, 0.5);
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  z-index: 999999;
}
/* line 117, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/posts.scss */
.sliding-panel-content ul {
  padding: 0;
  margin: 0;
}
/* line 122, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/posts.scss */
.sliding-panel-content li {
  list-style: none;
}
/* line 126, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/posts.scss */
.sliding-panel-content li a {
  border-bottom: 1px solid #000000;
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 1em;
  text-decoration: none;
}
/* line 134, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/posts.scss */
.sliding-panel-content li a:focus {
  background-color: #1a1a1a;
}
/* line 138, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/posts.scss */
.sliding-panel-content li a:hover {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #2d7eff;
  color: #fff;
}

/* line 13, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/projects.scss */
.flex-boxes {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
/* line 20, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/mixins/_clearfix.scss */
.flex-boxes::after {
  clear: both;
  content: "";
  display: block;
}
/* line 43, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/projects.scss */
.flex-boxes .flex-box {
  text-align: justify;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background: #000000;
  border-radius: 0;
  box-shadow: inset 0 0 1px #2d7eff, 0 2px 4px black;
  display: block;
  -webkit-box-flex: 2;
      -ms-flex: 2 2 15em;
          flex: 2 2 15em;
  margin: 1em;
  padding: 2em 2em 3em 2em;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 58, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/projects.scss */
.flex-boxes .flex-box:nth-child(1) {
  border-top: 6px solid #ffb02d;
}
/* line 58, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/projects.scss */
.flex-boxes .flex-box:nth-child(2) {
  border-top: 6px solid #2d7eff;
}
/* line 58, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/projects.scss */
.flex-boxes .flex-box:nth-child(3) {
  border-top: 6px solid #ffb02d;
}
/* line 58, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/projects.scss */
.flex-boxes .flex-box:nth-child(4) {
  border-top: 6px solid #2d7eff;
}
/* line 58, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/projects.scss */
.flex-boxes .flex-box:nth-child(5) {
  border-top: 6px solid #ffb02d;
}
/* line 58, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/projects.scss */
.flex-boxes .flex-box:nth-child(6) {
  border-top: 6px solid #2d7eff;
}
/* line 69, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/projects.scss */
.flex-boxes .flex-box img {
  display: block;
  height: 7em;
  margin: 0 auto 1em;
  opacity: 0.4;
}
/* line 76, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/projects.scss */
.flex-boxes .flex-box .flex-title {
  color: #ffb02d;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  text-decoration: none;
}
/* line 83, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/projects.scss */
.flex-boxes .flex-box p {
  color: #ffb02d;
  line-height: 1.5em;
  margin: auto;
}
/* line 90, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/projects.scss */
.flex-boxes .flex-box-big {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40em;
          flex: 1 1 40em;
}

/* line 21, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
body {
  margin: 0;
  padding: 0 4em 0 4em;
}

/* line 28, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.btn-warning {
  cursor: pointer;
  padding: 8px 13px;
  background: #2d7eff;
  color: #FFFFFF;
  border: none;
  text-decoration: none;
  border-radius: 0;
  display: inline-block;
  margin: 1em auto 1em auto;
}
/* line 39, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.btn-warning :hover {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 48, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.on-top {
  position: absolute;
  top: 30vh;
  left: 8vw;
  font-size: 3vw;
  color: #ffb02d;
}

/* line 57, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.text-box {
  padding: 5px 15px 5px 15px;
  background-color: #000000;
  color: #ffb02d;
  text-align: center;
  margin: 5px auto 5px auto;
  box-sizing: border-box;
  display: inline-block;
}

/* line 68, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.text-font {
  color: #ffb02d;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
}

/* line 78, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
img {
  float: right;
}

/* line 82, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.image-1 {
  border: 5px;
  border-color: #ffb02d;
  height: 70vh;
  width: 60vh;
  top: 15vh;
}

/* line 94, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
#content {
  width: 100%;
  top: 50px;
  background-image: url("background2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* line 105, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.wrapper-text-fields {
  color: #ffb02d;
  width: 75%;
  border-width: 2px;
  border-color: #ffb02d;
  padding: 10px 10px 10px 10px;
}

/* line 113, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.wrapper-text-area {
  color: #ffb02d;
  width: 75%;
  height: 300px;
  border-width: 2px;
  border-color: #ffb02d;
  padding: 10px 10px 10px 10px;
}

/* line 124, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/mixins/_clearfix.scss */
section::after {
  clear: both;
  content: "";
  display: block;
}
/* line 127, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
section aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
}
/* line 89, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
section aside:last-child {
  margin-right: 0;
}
/* line 128, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
section article {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-right: 0;
}
/* line 89, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
section article:last-child {
  margin-right: 0;
}
/* line 133, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
section .col-flex-outer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 17.05961%;
  margin-right: 0;
}
/* line 89, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
section .col-flex-outer:last-child {
  margin-right: 0;
}
/* line 138, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
section .col-flex-outer .col-flex-inner {
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 17.72593%;
}
/* line 89, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
section .col-flex-outer .col-flex-inner:last-child {
  margin-right: 0;
}
/* line 78, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_omega.scss */
section .col-flex-outer .col-flex-inner:nth-child(5n) {
  margin-right: 0;
}
/* line 83, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_omega.scss */
section .col-flex-outer .col-flex-inner:nth-child(5n+1) {
  clear: left;
}
/* line 144, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
section .col-flex-header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 17.05961%;
  margin-right: 0;
}
/* line 89, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
section .col-flex-header:last-child {
  margin-right: 0;
}
/* line 150, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
section .col-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
}
/* line 89, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
section .col-2:last-child {
  margin-right: 0;
}
/* line 154, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
section .col-10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
}
/* line 89, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
section .col-10:last-child {
  margin-right: 0;
}
/* line 160, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
section .col-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
}
/* line 89, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
section .col-6:last-child {
  margin-right: 0;
}
/* line 164, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
section .col-10-home {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
}
/* line 89, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
section .col-10-home:last-child {
  margin-right: 0;
}
/* line 169, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
section .form-box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  text-align: left;
  color: #ffb02d;
  border-color: #ffb02d;
  margin: 5px auto 5px auto;
  display: inline-block;
  width: auto;
}
/* line 89, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
section .form-box:last-child {
  margin-right: 0;
}
/* line 179, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
section .form-box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  text-align: left;
  color: #ffb02d;
  border-color: #ffb02d;
  margin: 5px auto 5px auto;
  display: inline-block;
}
/* line 89, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
section .form-box:last-child {
  margin-right: 0;
}
/* line 189, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
section .form-description-box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  height: 40vh;
  text-align: left;
  color: #ffb02d;
  border-color: #ffb02d;
  margin: 5px auto 5px auto;
  display: inline-block;
}
/* line 89, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
section .form-description-box:last-child {
  margin-right: 0;
}
/* line 200, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
section .footer-neat {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 17.05961%;
}
/* line 89, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
section .footer-neat:last-child {
  margin-right: 0;
}

/* line 218, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation {
  background-color: #000000;
  border-bottom: 0;
  min-height: 50px;
  width: 100%;
  z-index: 999;
}
/* line 245, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation .navigation-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 9999;
}
/* line 20, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/mixins/_clearfix.scss */
header.navigation .navigation-wrapper::after {
  clear: both;
  content: "";
  display: block;
}
/* line 20, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/mixins/_clearfix.scss */
header.navigation .navigation-wrapper::after {
  clear: both;
  content: "";
  display: block;
}
/* line 252, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation .logo {
  float: left;
  max-height: 50px;
  padding-left: 1em;
  padding-right: 2em;
}
/* line 258, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation .logo img {
  max-height: 50px;
  padding: 0.8em 0;
}
/* line 266, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation .navigation-menu-button {
  color: #ffb02d;
  display: block;
  float: right;
  line-height: 50px;
  margin: 0;
  padding-right: 1em;
  padding-left: 1em;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (min-width: 53.75em) {
  /* line 266, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
  header.navigation .navigation-menu-button {
    display: none;
  }
}
/* line 281, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
  background: #2d7eff;
}
/* line 289, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation nav {
  float: none;
  min-height: 50px;
  z-index: 9999999;
}
@media screen and (min-width: 53.75em) {
  /* line 289, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
  header.navigation nav {
    float: right;
  }
}
/* line 299, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation ul.navigation-menu {
  clear: both;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 9999;
}
/* line 308, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation ul.navigation-menu.show {
  display: block;
}
@media screen and (min-width: 53.75em) {
  /* line 299, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
  header.navigation ul.navigation-menu {
    display: inline;
    margin: 0;
    padding: 0 1em 0 1em;
  }
}
/* line 321, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation ul li.nav-link {
  background: #000000;
  display: block;
  line-height: 50px;
  overflow: hidden;
  text-align: right;
  width: 100%;
  z-index: 9999;
}
@media screen and (min-width: 53.75em) {
  /* line 321, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
  header.navigation ul li.nav-link {
    background: transparent;
    display: inline;
    line-height: 50px;
    text-decoration: none;
    width: auto;
  }
}
/* line 339, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation ul li.nav-link a {
  color: #ffb02d;
  display: inline-block;
  text-decoration: none;
}
@media screen and (min-width: 53.75em) {
  /* line 339, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
  header.navigation ul li.nav-link a {
    padding-right: 1em;
    padding-left: 1em;
  }
}
/* line 349, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
  background: #2d7eff;
}
/* line 356, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation .active-nav-item a {
  border-bottom: 1px solid #000000;
  padding-bottom: 3px;
}
/* line 363, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation li.more.nav-link {
  padding-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 363, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
  header.navigation li.more.nav-link {
    padding-right: 1em;
  }
}
/* line 370, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation li.more.nav-link > ul > li:first-child a {
  padding-top: 1em;
}
/* line 375, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation li.more.nav-link a {
  margin-right: 1em;
}
/* line 379, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation li.more.nav-link > a {
  padding-right: 0.6em;
}
/* line 383, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation li.more.nav-link > a:after {
  position: absolute;
  top: auto;
  right: -0.4em;
  bottom: auto;
  left: auto;
  content: '\25BE';
  color: #ffb02d;
}
/* line 390, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation li.more {
  overflow: visible;
  padding-right: 0;
}
/* line 394, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation li.more a {
  padding-right: 0.8em;
}
/* line 398, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation li.more > a {
  padding-right: 1.6em;
  position: relative;
}
@media screen and (min-width: 53.75em) {
  /* line 398, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
  header.navigation li.more > a {
    margin-right: 1em;
  }
}
/* line 406, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation li.more > a:after {
  content: '›';
  font-size: 1.2em;
  position: absolute;
  right: 0.5em;
}
/* line 414, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation li.more:focus > .submenu, header.navigation li.more:hover > .submenu {
  display: block;
}
@media screen and (min-width: 53.75em) {
  /* line 390, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
  header.navigation li.more {
    padding-right: 0.8em;
    position: relative;
  }
}
/* line 425, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation ul.submenu {
  display: none;
  padding-left: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 425, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
  header.navigation ul.submenu {
    left: -1em;
    position: absolute;
    top: 1.5em;
  }
}
@media screen and (min-width: 53.75em) {
  /* line 435, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
  header.navigation ul.submenu .submenu {
    left: 11.8em;
    top: 0;
  }
}
/* line 442, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation ul.submenu li {
  display: block;
  padding-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 442, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
  header.navigation ul.submenu li {
    line-height: 38.46154px;
  }
  /* line 449, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
  header.navigation ul.submenu li:first-child > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  /* line 454, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
  header.navigation ul.submenu li:last-child > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: 0.7em;
  }
}
/* line 461, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation ul.submenu li a {
  background-color: black;
  display: inline-block;
  text-align: right;
  width: 100%;
}
@media screen and (min-width: 53.75em) {
  /* line 461, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
  header.navigation ul.submenu li a {
    background-color: #000000;
    padding-left: 1em;
    text-align: left;
    width: 12em;
  }
}
/* line 479, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
header.navigation .navigation-tools {
  background: #505050;
  clear: both;
  display: block;
  height: 50px;
}
@media screen and (min-width: 53.75em) {
  /* line 479, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
  header.navigation .navigation-tools {
    background: transparent;
    clear: none;
    float: right;
  }
}

/* line 500, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  clear: both;
}

/* line 510, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.card {
  background-color: #000000;
  border: 3px solid rgba(255, 176, 45, 0.9);
  border-radius: 2px;
  box-shadow: 0 2px 4px black;
  -ms-flex-preferred-size: 15em;
      flex-basis: 15em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 1em 1.5em 1em;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #ffb02d;
}
/* line 536, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.card .card-image {
  background-color: #000000;
  height: 100px;
  max-height: 100px;
  overflow: hidden;
}
/* line 542, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.card .card-image img {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
/* line 550, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.card .card-header {
  background-color: #000000;
  border-bottom: 0;
  border-radius: 2px 2px 0 0;
  font-weight: bold;
  line-height: 1.5em;
  padding: 0.5em 0.75em;
}
/* line 559, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.card .card-copy {
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 0.75em 0.75em;
}
/* line 566, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.card .card-copy p {
  margin: 0 0 0.75em;
}
/* line 573, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.card:active {
  background-color: #000000;
}
/* line 576, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.card:active .card-header {
  background-color: #000000;
}

/* line 610, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.footer-2 {
  background: #2d7eff;
  padding: 1.5em;
  width: 100%;
  display: inline-block;
}
/* line 625, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.footer-2 .footer-logo {
  margin-right: 1em;
  margin-bottom: 1em;
}
@media screen and (min-width: 860em) {
  /* line 625, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
  .footer-2 .footer-logo {
    float: left;
    margin-bottom: 0;
  }
}
/* line 635, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.footer-2 .footer-logo img {
  height: 1.6em;
}
/* line 639, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.footer-2 ul {
  line-height: 1.5em;
  margin: 0 0 1em 0;
  padding: 0;
}
@media screen and (min-width: 860em) {
  /* line 639, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
  .footer-2 ul {
    float: left;
    line-height: 1.8em;
    margin-left: 1em;
    margin-bottom: 0;
  }
}
/* line 652, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.footer-2 ul li {
  list-style: none;
  padding-right: 1em;
}
@media screen and (min-width: 860em) {
  /* line 652, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
  .footer-2 ul li {
    display: inline;
    text-align: left;
  }
}
/* line 662, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.footer-2 ul li a {
  color: #2d7eff;
  text-decoration: none;
}
/* line 666, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.footer-2 ul li a:focus, .footer-2 ul li a:hover {
  color: #ffb02d;
}
@media screen and (min-width: 860em) {
  /* line 672, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
  .footer-2 .footer-secondary-links {
    float: left;
  }
}
/* line 677, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.footer-2 .footer-secondary-links li {
  font-size: 0.8em;
}
/* line 681, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.footer-2 .footer-secondary-links ul.footer-social {
  margin: 1em 0 0 0;
}
@media screen and (min-width: 860em) {
  /* line 681, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
  .footer-2 .footer-secondary-links ul.footer-social {
    float: right;
    margin-top: 0;
  }
}
/* line 689, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.footer-2 .footer-secondary-links ul.footer-social li {
  font-size: 1em;
  float: right;
  line-height: 0;
  margin: 0;
  padding-right: 0.7em;
  text-decoration: none;
}
/* line 697, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.footer-2 .footer-secondary-links ul.footer-social li:last-child {
  padding-right: 0;
}
/* line 702, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.footer-2 .footer-secondary-links ul.footer-social img {
  height: 1.6em;
  opacity: 0.7;
  padding: 1px;
}
/* line 707, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.footer-2 .footer-secondary-links ul.footer-social img:focus, .footer-2 .footer-secondary-links ul.footer-social img:hover {
  opacity: 1;
}

/* line 717, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
/* line 20, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/mixins/_clearfix.scss */
.flex-boxes::after {
  clear: both;
  content: "";
  display: block;
}
/* line 746, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background: #000000;
  border-radius: 0;
  box-shadow: inset 0 0 1px #2d7eff, 0 2px 4px black;
  display: block;
  -webkit-box-flex: 2;
      -ms-flex: 2 2 15em;
          flex: 2 2 15em;
  margin: 1em;
  padding: 2em 2em 3em 2em;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 762, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box:nth-child(1) {
  border-top: 6px solid #ffb02d;
}
/* line 762, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box:nth-child(2) {
  border-top: 6px solid #2d7eff;
}
/* line 762, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box:nth-child(3) {
  border-top: 6px solid #ffb02d;
}
/* line 762, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box:nth-child(4) {
  border-top: 6px solid #2d7eff;
}
/* line 762, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box:nth-child(5) {
  border-top: 6px solid #ffb02d;
}
/* line 762, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box:nth-child(6) {
  border-top: 6px solid #2d7eff;
}
/* line 773, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box img {
  display: block;
  height: 7em;
  margin: 0 auto 1em;
  opacity: 0.4;
}
/* line 780, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box .flex-title {
  color: #ffb02d;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  text-decoration: none;
}
/* line 787, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box p {
  color: #ffb02d;
  line-height: 1.5em;
  margin: auto;
}
/* line 794, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes .flex-box-big {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40em;
          flex: 1 1 40em;
}

/* line 807, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
/* line 20, /home/kits/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/neat-1.8.0/app/assets/stylesheets/mixins/_clearfix.scss */
.flex-boxes-2::after {
  clear: both;
  content: "";
  display: block;
}
/* line 838, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-2 {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background: #000000;
  border-radius: 0;
  box-shadow: inset 0 0 1px #2d7eff, 0 2px 4px black;
  display: block;
  -webkit-box-flex: 2;
      -ms-flex: 2 2 15em;
          flex: 2 2 15em;
  margin: 0 0 1em 0;
  padding: 2em 2em 3em 2em;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 856, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-2:nth-child(1):focus, .flex-boxes-2 .flex-box-2:nth-child(1):hover {
  background-color: #0060f9;
}
/* line 856, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-2:nth-child(2):focus, .flex-boxes-2 .flex-box-2:nth-child(2):hover {
  background-color: #0060f9;
}
/* line 856, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-2:nth-child(3):focus, .flex-boxes-2 .flex-box-2:nth-child(3):hover {
  background-color: #0060f9;
}
/* line 856, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-2:nth-child(4):focus, .flex-boxes-2 .flex-box-2:nth-child(4):hover {
  background-color: #0060f9;
}
/* line 856, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-2:nth-child(5):focus, .flex-boxes-2 .flex-box-2:nth-child(5):hover {
  background-color: #0060f9;
}
/* line 856, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-2:nth-child(6):focus, .flex-boxes-2 .flex-box-2:nth-child(6):hover {
  background-color: #0060f9;
}
/* line 863, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-2 img {
  display: block;
  height: 7em;
  margin: 0 auto 1em;
  opacity: 0.4;
}
/* line 870, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-2 .flex-title {
  color: #ffb02d;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  text-decoration: none;
}
/* line 877, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-2 p {
  color: #ffb02d;
  line-height: 1.5em;
  margin: auto;
}
/* line 888, /home/kits/src/cuddly-tanuki/app/assets/stylesheets/application.scss.erb */
.flex-boxes-2 .flex-box-big {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40em;
          flex: 1 1 40em;
}
