<div class="flex-boxes">
	<div class="col-lg-8">
	<a href="javascript:void(0)" class="flex-box">
		<p>
		<b>About me:</b>
			<p>
			Hi, my name is Brian Durbin and I am a programmer. I am currently a computer science and mathematics double major at UCCS. When I have free time I spend it teaching myself various programming languages. Some of the languages/technologies I have taught myself are: Ruby, CSS, HTML, Sass and Bootstrap 3. I am currently in the process of teaching myself angular.js this weekend for a web programming internship I am interested in.
			</p>
			<p>
			Programming fields: Big Data, Cloud Computing and Full Stack Web Development.
			</p>
			<p>
			Mathematical focus: Statistics
			</p>
			<p>
			I am currently doing web development and IT support for the library at UCCS until school is out in the summer and am committed to seeing the projects through. I am also actively looking for Internship opportunities in software development and engineering this summer.
			</p>
		</p>

	</a>
	</div>

	<div class="col-lg-3">
	
		<%= image_tag "carousel1.jpg", :class => "image-1 flex-box" %>

	</div>

</div>


    


 
