
<div class="container">
		<div class="flex-boxes">
			<a href="javascript:void(0)" class="flex-box">
				<p>
				<b>About me:</b>
					<p>
						I am interested in data storage and am focusing my educational and career goals towards that. I am double majoring at UCCS in Computer Science and Mathematics.
					</p>
				</p>

				<p>
				I take a procedural approach towards programming and am always concerned in how I can make my code run as fast as possible while still being simple.
				</p>

				<p>
				As a result I take a personal interest in algorithms, computational complexity and graph theory. I am currently doing web development and IT support for the library at UCCS until school is out in the summer and am committed to seeing them through. I am also actively looking for Internship opportunities in software development and engineering this summer.
				</p>

			</a>

			<a href="javascript:void(0)" class="flex-box">
				
				<p>
					<b>Current projects:</b>
					<p>
					Web development for the UCCS Kraemer Family Library.
					</p>
				</p>

				<p>
					<b>Computing fields and/or educational interests:</b>
				</p>
				<p>
					<b>Big data:</b>Map reduction algorithms, data structures, and hashing functions.
				</p>
				<p>
					<b>Machine Learning:</b> Hidden Markov Models.
				</p>
				<p>
					<b>Shell Scripting:</b> Linux/Unix.
				</p>
				<p>
					<b>Mathematical focuses:</b> Statistics, Applied Mathematics, Linear Algebra, Computational Mathematics, and Graph Theory.
				</p>
			</a>
			
				<%= image_tag "carousel1.jpg", :class => "image-1 flex-box" %>

		</div>
</div>


    


 
