<div class="flex-boxes" xmlns="http://www.w3.org/1999/html">

  <div class ="col-6">

    <%= image_tag "carousel1.jpg", :class => "image-1 flex-box" %>

  </div>

  <div class="col-6">
    <a href="javascript:void(0)" class="flex-box">
		<p>
		<b>About me:</b>
    <p>
    Hi, my name is Brian Durbin and I am a software Engineer. I am currently a computer science and mathematics
      double major at UCCS. My favorite languages are Ruby for web dev, c# for gui and general purpose stuff and
      c for anything mathematical.
       When I have free time I spend it teaching myself various programming languages and reading mathematics or science papers.
      I also enjoy anime and pen and paper roleplaying games.
      Two of the languages I have taught myself are Ruby and C#.
      This website is actually written in Rails with embedded Ruby.
    </p>
    <p><br>
      I am currently working at Boeing as a software engineer Intern. I do c# development for them.
      The project I am working on now uses winforms for the Gui side and protobuffs to handle data transmission
      between the other programs I have to talk with. Before working at Boeing I was a C# developer for an ecommerce firm
      named Engine23. I did back end development for them for an electrocardiogram app.
    </p><br>
    <p>
    Programming fields of interest:
      </p>
      <p>Big Data, Cloud Computing, algorithms, and Full Stack Web Development.
    </p><br>
    <p>
    Mathematical focus: Statistics
    </p>
	</a>
	</div>



</div>


    


 
