


<div class="row">
	<%= link_to "Files", index_fileupload_path(@fileuploads) %>
</div>



	<br><br>
		<div class="col-md-4 border">
			<a href="codeSamples/brian_resume.docx" class="btn btn-warning">My resume</a>
			<br>
			<span class="text-box">My resume in word format.
			</span>
			<br><br><br>
			<a href="codeSamples/HW1_Durbin.asm" class="btn btn-warning">Simple Array Fill</a>
			<br>
			<span class="text-box">First assembly project: Initializes an array with a loop 
			because it needed to be done the circumvoluted way.
			</span>
		</div>
		<div class="col-md-4">
			<a href="codeSamples/HW2_Durbin.asm" class="btn btn-warning">XOR Cipher Decrypter</a>
			<br>
			<span class="text-box">Iterates through the bytes of an array 
			and xors them; basic XOR encrypter/decrypter.
			</span>
			<br><br><br>
			<a href="codeSamples/main.c" class="btn btn-warning">Command-line Blackjack</a>
			<br>
			<span class="text-box">Second project in my old C class. Super simple blackjack in c.
			</span> 
		</div>
		<div class="col-md-4">
			<a href="codeSamples/backup.txt" class="btn btn-warning">C Shell File Backup</a>
			<br>
			<span class="text-box">Backs up all the files listed in a 
			file($arg1) to a folder of your naming($arg2)
			</span>
			<br><br><br>
			<a href="codeSamples/softLinkFinder.txt" class="btn btn-warning">C Shell Soft-Link Finder</a>
			<br>
			<span class="text-box">Finds all the soft-links in a directory via 
			the command 'ls -l | grep ^l | grep "\-> $argv[1]"''
			</span>
		</div>
	</div>
	<br><br>
	<span class="text-box">This is by no means even close to the extent of my coding ability,
	 unfortunately my more interesting programs are stuck on my server that is in storage for
	  now so I cant get them up on this site quite yet.Sorry. :(</span>
	<br><br><br><br><br>
	
</div>

