<h1 class="text-box">My Projects.</h1> 
<br>
  
<% if user_signed_in? %>
	<%= link_to "New project", new_project_path(@project), class: "btn btn-warning" %>
<% end %>



<div class="row">



<div class="col-lg-12">

	<%= render 'displayall' %>
</div>


</div>


<%= will_paginate @projects %>


