<div class="container">
		<div class="row">
			<div class="col-lg-12 text-box">
				<div class="col-lg-3 text-box">
				<p>
					Welcome to Nonlinear Logic; a website created to showcase some of my web design and programming skills.

				</p>

				<p style="color:#2d7eff">
					There will be a sidebar here eventually.
				</p>

				<br><br><br>
				<ul class="accordion" style: "position: fixed">
				  <li>
				    <a href="javascript:void(0)" class="js-accordion-trigger">Webcomics</a>
				    <ul class="submenu">
				      <li>
				        <a href="javascript:void(0)">Sub Item 1</a>
				      </li>
				      <li>
				        <a href="javascript:void(0)">Sub Item 2</a>
				      </li>
				    </ul>
				  </li>
				  <li>
				    <a href="javascript:void(0)" class="js-accordion-trigger">Mathematics</a>
				    <ul class="submenu">
				      <li>
				        <a href="javascript:void(0)">Sub Item 1</a>
				      </li>
				      <li>
				        <a href="javascript:void(0)">Sub Item 2</a>
				      </li>
				    </ul>
				  </li>
				  <li>
				    <a href="javascript:void(0)" class="js-accordion-trigger">Science</a>
				    <ul class="submenu">
				      <li>
				        <a href="javascript:void(0)">Sub Item 1</a>
				      </li>
				      <li>
				        <a href="javascript:void(0)">Sub Item 2</a>
				      </li>
				    </ul>
				  </li>
				  <li>
				    <a href="javascript:void(0)" class="js-accordion-trigger">News & Politics</a>
				    <ul class="submenu">
				      <li>
				        <a href="javascript:void(0)">Sub Item 1</a>
				      </li>
				      <li>
				        <a href="javascript:void(0)">Sub Item 2</a>
				      </li>
				    </ul>
				  </li>
				  <li>
				    <a href="javascript:void(0)" class="js-accordion-trigger">Social</a>
				    <ul class="submenu">
				      <li>
				        <a href="javascript:void(0)">Sub Item 1</a>
				      </li>
				      <li>
				        <a href="javascript:void(0)">Sub Item 2</a>
				      </li>
				    </ul>
				  </li>
				  <li>
				    <a href="javascript:void(0)" class="js-accordion-trigger">Accordion Item</a>
				    <ul class="submenu">
				      <li>
				        <a href="javascript:void(0)">Sub Item 1</a>
				      </li>
				      <li>
				        <a href="javascript:void(0)">Sub Item 2</a>
				      </li>
				    </ul>
				  </li>
				  <li>
				    <a href="javascript:void(0)" class="js-accordion-trigger">Accordion Item</a>
				    <ul class="submenu">
				      <li>
				        <a href="javascript:void(0)">Sub Item 1</a>
				      </li>
				      <li>
				        <a href="javascript:void(0)">Sub Item 2</a>
				      </li>
				    </ul>
				  </li>
				  <li>
				    <a href="javascript:void(0)" class="js-accordion-trigger">Accordion Item</a>
				    <ul class="submenu">
				      <li>
				        <a href="javascript:void(0)">Sub Item 1</a>
				      </li>
				      <li>
				        <a href="javascript:void(0)">Sub Item 2</a>
				      </li>
				    </ul>
				  </li>
				  <li>
				    <a href="javascript:void(0)" class="js-accordion-trigger">Accordion Item</a>
				    <ul class="submenu">
				      <li>
				        <a href="javascript:void(0)">Sub Item 1</a>
				      </li>
				      <li>
				        <a href="javascript:void(0)">Sub Item 2</a>
				      </li>
				    </ul>
				  </li>
				</ul>
				</div>



	

			
			
			<div class="col-lg-9 text-box">
				<h1 class="text-box" align="center" style="color:#2d7eff">Programming, Mathematics, Science and other nerdery.</h1> <h3 align="right" style="color:#2d7eff"> by Brian Durbin</h2>
				<!--blog here -->

				<%= render 'displayall' %>

				<%= will_paginate @posts %>
			</div>

			</div>
		</div>
	</div>
	