
	

			
			
			<div class="col-lg-9 text-box">
				<h1 class="text-box" align="center" style="color:#2d7eff">Programming, Mathematics, Science and other nerdery.</h1> <h3 align="right" style="color:#2d7eff"> by Brian Durbin</h2>
				<!--blog here -->

				<%= render 'displayall' %>

				<%= will_paginate @posts %>
			</div>
	