

  <div class="col-2">

    <nav class="js-menu sliding-panel-content" data-turbolinks="false">
      <ul class="accordion">
        <li>
          <a href="javascript:void(0)" class="js-accordion-trigger">Webcomics</a>
          <ul class="submenu">
            <li>
              <a href="http://www.giantitp.com/Comics.html">Order of the Stick</a>
            </li>
            <li>
              <a href="http://www.smbc-comics.com/index.php?id=3940">Saturday Morning Breakfast Cereal</a>
            </li>
            <li>
              <a href="http://xkcd.com/">XKCD</a>
            </li>
            <li>
              <a href="http://abstrusegoose.com/12">Abstruse Goose</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)" class="js-accordion-trigger">Mathematics</a>
          <ul class="submenu">
            <li>
              <a href="https://terrytao.wordpress.com/">Terrence Tao's Mathematics Blog</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)" class="js-accordion-trigger">Science</a>
          <ul class="submenu">
            <li>
              <a href="http://arxiv.org/">arXiv</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)" class="js-accordion-trigger">News and Politics</a>
          <ul class="submenu">
            <li>
              <a href="http://arstechnica.com/">Ars Technica</a>
            </li>
            <li>
              <a href="https://www.youtube.com/user/TheBigPictureRT">TheBigPictureRT</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)" class="js-accordion-trigger">Social</a>
          <ul class="submenu">
            <li>
              <a href="https://www.linkedin.com/profile/preview?vpa=pub&locale=en_US">Linkedin</a>
            </li>
            <li>
              <a href="https://www.facebook.com/brian.durbin.921">Facebook</a>
            </li>
            <li>
              <a href="https://www.pinterest.com/kits119710/">Pinterest</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="js-menu-screen"></div>
  </div>


  <div class="col-flex-outer">
  <h1 class="text-box" align="center">Programming, Mathematics, Science and other nerdery.</h1>

  <br>
  <h3 class="text-box" > by Brian Durbin</h3>



    <%= render 'displayall' %>

    <%= will_paginate @posts %>
  </div>

