
<% @fileuploads.each do |fileupload| %>
	<h2> <%= fileupload.title %> </h2>
	<div><%= truncate(fileupload.description, :length => 256) %></div>
	<br>
	<%= link_to "Show file", fileupload %>

<% end %>