// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$fore: #ffb02d;
$hover: #2d7eff;
$background: #000000;
$border: #ffb02d;
$white: #FFFFFF;
